<div id="mg-recent-activity">
  <% @page_title = "Activity" %>
  <%= render :partial => "common/page_title", :locals => {:page_title => @page_title} %>
  <%= render :partial => "common/recent_activity" %>
</div>