<!-- _expense_benefactors.html.erb -->
<div class="modal fade" id="mg-expense-beneficiary" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title text-center lead" id="myModalLabel"><strong>Expense Benefactors</strong></h4>
      </div>
      <div class="modal-body">
        <div id="mg-expense-type">
          <ul id="myTab" class="nav nav-tabs lead">
            <li class="active col-xs-4 text-center"><a href="#mg-split-equally" data-toggle="tab"><i class="text-info icon-align-justify"></i></a></li>
            <li class=" col-xs-4 text-center"><a href="#mg-split-unequally" data-toggle="tab"><i class="text-warning icon-align-center"></i></a></li>
            <li class=" col-xs-4 text-center"><a href="#mg-personal-expense" data-toggle="tab"><i class="text-danger icon-circle"></i></a></li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="mg-split-equally">
              <h4 class="text-center lead text-muted">Divide Amount Equally</h4>
              <div class="list-group">
                <% friends.each do |user| %>
                  <a href="javascript:void(0)" class="clearfix list-group-item">
                    <div class="col-xs-10">
                      <%= render_user_image(user, {:class_name => "img-circle", :user_name_class => "username"}).html_safe %>
                    </div>
                    <div class="col-xs-2">
                      <span class="icon-stack text-success pull-right">
                        <i class="icon-circle icon-stack-base"></i>
                        <i class="icon-ok icon-light icon-child"></i>
                      </span>
                    </div>
                  </a>
                <% end %>
              </div>
            </div>
            <div class="tab-pane fade" id="mg-split-unequally">
              <h4 class="text-center lead text-muted">Assign Exact Amounts</h4>
              <ul class="list-group">
                <% friends.each do |user| %>
                  <li class="list-group-item clearfix">
                    <div class="col-xs-6">
                      <%= render_user_image(user, {:class_name => "img-circle", :user_name_class => "clearfix"}).html_safe %>
                    </div>
                    <div class="col-xs-6">
                      <input type="number" class="text-center form-control" placeholder="0.00">
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
            <div class="tab-pane fade" id="mg-personal-expense">
              <h4 class="text-center lead text-muted"> Record a Personal Expense </h4>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
  jQuery('#myTab a').click(function (e) {
    e.preventDefault();
    jQuery(this).tab('show');
  })
</script>