<!-- _expense_date.html.erb -->
<div class="modal fade" id="mg-expense-date" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title text-center lead" id="myModalLabel"><strong>Transaction Date</strong></h4>
      </div>
      <div class="modal-body">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<%= f.hidden_field :txndate, :value => (f.object.txndate  || Time.now).strftime("%F") %>

<script type="text/javascript">
  jQuery('#mg-expense-date .modal-body').datepicker({
    todayHighlight: true,
    todayBtn: "linked",
    format: "yyyy-mm-dd"
  }).on('changeDate', function(e){
    jQuery("#transaction_txndate").val(e.format('yyyy-mm-dd'));
    jQuery('#mg-expense-date').modal('hide');
  });

  jQuery('#mg-expense-date .modal-body').datepicker('update', '<%= (f.object.txndate  || Time.now).strftime("%F") %>');

  jQuery('#mg-expense-date').on('hide.bs.modal', function(e){
    date = jQuery("#transaction_txndate").val();
    
    if(date)
      jQuery('#mgexpensedate .toggle-on').text(date);
    else
      jQuery('#mgexpensedate').click();
  });
</script>