<!-- _expense_categories.html.erb -->
<div class="modal fade" id="mg-expense-categories" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title text-center lead" id="myModalLabel"><strong>Expense Categories</strong></h4>
      </div>
      <div class="modal-body clearfix">
        <div class="col-xs-11 clearfix remove-left-gutter remove-right-gutter">
          <%= hidden_field_tag("keywords_query", "", :style => 'display:none')%>
          <%= javascript_tag(<<-eos
              Transaction.autocomplete('#{autocomplete_category_tags_transactions_url}.json', '#keywords_query', jQuery.parseJSON('#{@keywords_query.blank? ? [] : @keywords_query.to_json}'), "Start Typing Categories");
            eos
          ) %>
        </div>
        <div class="text-center col-xs-1  remove-left-gutter remove-right-gutter">
          <button type="button" class="btn btn-success btn-sm" onclick="jQuery('#mg-expense-categories').modal('hide')"><i class="icon-ok"></i></button> 
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<%= f.hidden_field :category, :value => f.object.category %>

<script type="text/javascript">
  jQuery('#mg-expense-categories').on('shown.bs.modal', function (e) {
    if(jQuery('#keywords_query').select2('val') == "")
      jQuery('#keywords_query').select2('open');
  })

  jQuery('#mg-expense-categories').on('hide.bs.modal', function(e){
    var categories = jQuery('#keywords_query').val();
    jQuery("#transaction_category").val(categories);

    if(categories != "" && categories != undefined)
    {
      jQuery('#mgexpensecategories .toggle-on').text(categories.split(",").join(", ")).siblings('label').removeClass('toggle-off');
    }
    else
      jQuery('#mgexpensecategories').click();
  });
</script>

