<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4><span class="help-inline"><i class="icon-user"></i> &nbsp; Invite your friends to this group</span></h4>
    </div>
    <div class="modal-body">
        <%= form_tag({:action => "sendinvites"}, :method => "post", :id => "form_invite") do -%>
        <%= hidden_field_tag :groupid, @group.id, :class => 'text_field' %>
        <%= text_field_tag :emailids, params[:emailids] %>
      <div class="text-center ">
        <br/>
        <button id="send_mail" type="submit" class="btn btn-primary">Send Invites</button>
      </div>
    </div>
        <%end%>
  </div>
</div>

<script type="text/javascript">
  jQuery('#send_mail').click(function () {
    jQuery("#modal3").modal('hide');
  })

  $(document).ready(function() {
    Group.autocomplete("/groups/autocomplete","#emailids","Enter email ids ... ");
  })
</script>