<span class="icon-stack">
  <i class="icon-circle icon-stack-base"></i>
  <i class="<%= item.icon_class %> icon-light icon-child"></i>
</span>
<span class="pull-right">
  <h4 class="text-primary"><%= item.text %></h4>
</span>