/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require bootstrap_and_overrides
 *= require jquery.ui.all
 *= require_tree . 
*/
html{ overflow-y:scroll; }

.txnamountuser {
    width: 100px;
    margin-bottom: 5px !important;
}

.txnamountuser.btn.btn-primary.active {
    background-color: #57A957;
    color: #EEFFFF;
}

#transaction_user_amount .txn_user_list {
    float: left;
    width: 100px;
    list-style-type: none;
    margin: 5px 20px 10px 0;
}

.add-on { width: 100px !important; }

.prepended_amount_input {
    width: 100px !important;
    text-align: center;
}

.account_block {
    margin-bottom: 5px !important;
}

.group_block {
    margin-top: 10px !important;
}

.wellgreen {
    -moz-border-radius: 4px 4px 4px 4px;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    background-color: #DDEECC;
    border: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 5px;
    min-height: 20px;
    padding: 6px 0px 10px 9px;
}

.wellblue {
    -moz-border-radius: 4px 4px 4px 4px;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    background-color: #D0E0F0;
    border: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 5px;
    min-height: 20px;
    padding: 6px 0px 7px 9px;
}