<% activity.each do |act|%>
<li><strong><%=  act.user_name %></strong> <%= " " + act.activity + " " %><%= link_to truncate(act.content, :length => 15), :controller => type, :action => 'show', :id => act.commentable_id  %><span id="litetext"><%= " " + time_ago_in_words(Time.parse(act.created_at.to_s)) + " ago"    %></span> </li>
<% end %>
