<ul id ="tranact" class="nav nav-list">
<li class="nav-header clearfix">
    <div class="heading_container clearfix">
      <div class ="heading_image">
        <%= image_tag('icons/Transaction32x32.png', :size => "22x22") %>
      </div>
      <div class="heading_text">
        Transactions
      </div>
    </div>
 </li>

</ul>




