<% @page_title = "Expenses" %>
<%= render :partial => "common/page_title", :locals => {:page_title => @page_title} %>
<div id="mg-transactions-index">
  <table class="table" id="mg-transactions-list">
    <tbody id="mg-transaction-entries">
      <%= render :partial => "transactions/transactions_entries", :locals => {:entries => @transactions} %>
    </tbody>
  </table>
</div>

<%= will_paginate(@transactions) %>