<% @page_title = "Expenses" %>
<%= render :partial => "common/page_title", :locals => {:page_title => @page_title} %>
<div id="mg-transactions-index">
  <table class="table table-striped table-hover" id="mg-transactions-list">
    <tbody>
      <% @transactions.each do |transaction| %>
        <%= render :partial => "transactions/transaction_entry", :locals => {:entry => transaction} %>
      <% end %>
    </tbody>
  </table>
</div>