<% @page_title = "Expenses" %>
<%= render :partial => "common/page_title", :locals => {:page_title => @page_title} %>
<div id="mg-transactions-index">
  <table class="table shadow-row" id="mg-transactions-list">
    <tbody id="mg-transaction-entries">
      <%= render :partial => "transactions/transactions_entries", :locals => {:entries => @transactions} %>
    </tbody>
  </table>
</div>

<div class="text-center">
  <%= will_paginate(@transactions) %>
</div>