<% @page_title = "Create Expense" %>
<%= render :partial => "common/page_title", :locals => {:page_title => @page_title} %>
<div class="clearfix">
  <%= form_for @transaction, :validate => true, :url => transactions_path, :html => { :class => "form form-horizontal" } do |f| -%>
    <%= render :partial => "form", :locals => {:f => f} %>
  <% end -%>
</div>
