<% @page_title = "Expense Details" %>
<%= render :partial => "common/page_title", :locals => {:page_title => @page_title} %>
<div id="mg-transactions-index">
  <table class="table" id="mg-transactions-list">
    <tbody id="mg-transaction-entries">
      <tr>
        <td colspan="6">
          <%= render :partial => "transactions/transaction_detail_entry", :locals => {:entry => @transaction} %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<script type="text/javascript">
  jQuery(document).ready(function() {
    setTimeout(
      jQuery('.progress-bar').each(function() {
          jQuery(this).css("width", jQuery(this).attr("width-value"));
    }), 250);
  });
</script>