<%= render(:partial => 'magic_mailer/header') %>
<div style="padding-left: 10px">
Dear <%= @user.name %>,<br/> <br/>

<p align="justify">Greetings and welcome to Magic Accounts !</p>
<p>You have been successfully registered with us. If you are just getting started,
follow the steps mentioned here to get going. Magic Accounts greatly simplifies
the way people manage personal and peer-group accounts and saves all the hassles
of managing multiple accounts. We constantly strive at making things easier for
our users and we hope you enjoy the experience of using our product and ....
Its Free !</p>

<br/><br/>
Cheers,<br/>
Admin, Magic Accounts<br/>
<br/><br/>
<%= render(:partial => 'magic_mailer/footer') %>
</div>
