<div id="mg-app-buttons" class="clearfix">
  <div class="col-xs-3 remove-left-gutter remove-right-gutter">
    <%= link_to(new_group_path, :class => "btn btn-primary btn-sm") do %>
      Group
    <% end %>
  </div>
  <div class="col-xs-3 remove-left-gutter remove-right-gutter">
    <%= link_to(new_transaction_path, :class => "btn btn-danger btn-sm dropdown-toggle", :id =>"mg-add-expense-button", "data-toggle" => "dropdown") do %>
      Expense
    <% end %>
    <ul class="dropdown-menu" role="menu" aria-labelledby="mg-add-expense-button">
      <% current_user.user_groups.each do |group| %>
        <li role="presentation">
          <%= link_to(new_transaction_path(:groupid => group.id), :role => "menuitem", :tabindex=>"-1") do %>
            <% group.name %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-xs-3 remove-left-gutter remove-right-gutter">
    <button type="button" class="btn btn-success btn-sm">
      Settle Up
    </button>
  </div>
  <div class="col-xs-3 remove-left-gutter remove-right-gutter">
    <%= link_to(recent_activities_comments_path, :class => "btn btn-info btn-sm") do %>
      Activity
    <% end %>
  </div>
</div>