<div id="mg-app-buttons" class="clearfix">
  <div class="col-xs-3">
    <%= link_to(new_group_path, :class => "btn btn-primary btn-sm") do %>
      <i class="icon-plus-sign"></i> &nbsp; Group
    <% end %>
  </div>
  <div class="col-xs-3">
    <%= link_to(new_transaction_path, :class => "btn btn-danger btn-sm") do %>
      <i class="icon-plus-sign"></i> &nbsp; Expense
    <% end %>
  </div>
  <div class="col-xs-3">
    <button type="button" class="btn btn-success btn-sm">
      <i class="icon-flag-checkered"></i> &nbsp; Settle Up
    </button>
  </div>
  <div class="col-xs-3">
    <%= link_to(recent_activities_comments_path, :class => "btn btn-info btn-sm") do %>
      <i class="icon-globe"></i> &nbsp; Activity
    <% end %>
  </div>
</div>