<h3>Team</h3>
<ul class="nav nav-list">
  <li class="nav-header">
    Balaji S, Developer
  </li>
  <li><%= image_tag("balaji.jpg", :size => "50x75", :class=>"dev-image") %>Works as a Senior Design Engineer @ Chronus Corporation. Passionate about developing open source community products/ software.</li>
</ul>
<ul class="nav nav-list">
  <li class="nav-header">
    Sreevidya N, Tested Magic Accounts
  </li>
  <li><%= image_tag("Sree.jpg", :size => "50x75", :class=>"dev-image") %>Works as a Senior Software Engineer @ INautix. Passionate about learning new technologies.</li>
</ul>