<div class="col-lg-3 panel panel-default">
  <div class="clearfix">
    <div class="circled well pull-left">
      <i class="<%= icon_class %> icon-2x"></i>
    </div>
    <div class="col-lg-6 pull-left">
      <h2 class="pull-left">
        <%= feature_title %>
      </h2>
    </div>
  </div>
  <p><%= feature_content %></p>
</div>