<div class="col-sm-3 panel panel-default">
  <div class="col-sm-12 clearfix h-align-container text-center">
    <div class="circled well h-align">
      <i class="<%= icon_class %> icon-2x"></i>
    </div>
    <div class="col-sm-12 h-align">
      <h3><%= feature_title %></h3>
    </div>
    <p class="h-align"><%= feature_content %></p>
  </div>
</div>