<div class="col-sm-3 panel panel-default">
  <div class="col-sm-12 clearfix h-align-container text-center">
    <div class="h-align">
      <span class="icon-stack icon-2x <%= icon_color %>">
        <i class="icon-circle icon-stack-base"></i>
        <i class="<%= icon_class %> icon-light icon-child"></i>
      </span>
    </div>
    <div class="col-sm-12 h-align">
      <h3><%= feature_title %></h3>
    </div>
    <p class="h-align"><%= feature_content %></p>
  </div>
</div>