<div class="flash-container">
  <%flash.each do |name,msg| %>
    <% flash_data = FLASH_METADATA::FLASH_DATA[name] %>
    <div id ='mg-flash' class="alert alert-dismissable alert-<%= flash_data[:alert_class] %>">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <h4> <%= flash_data[:heading] %> </h4>
      <p><%= msg %></p>
    </div>
  <%end%>
</div>