<div id="mg-left-sidebar">
  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="#">
      <span class="icon-stack">
        <i class="icon-sign-blank icon-stack-base"></i>
        <i class="icon-dashboard icon-dark icon-child"></i>
      </span>
      <span class="mg-navigation-text">&nbsp; Dashboard</a></span>
    </li>
    <li>
      <%= link_to transactions_path do %>
        <span class="icon-stack">
          <i class="icon-sign-blank icon-stack-base"></i>
          <i class="icon-inr icon-light icon-child"></i>
        </span>
        <span class="mg-navigation-text">&nbsp; Expenses</span>
      <% end %>
    </li>
    <li class="dropdown">
      <%= link_to groups_path do %>
        <span class="icon-stack">
          <i class="icon-sign-blank icon-stack-base"></i>
          <i class="icon-group icon-light icon-child"></i>
        </span>
        <span class="mg-navigation-text">&nbsp; Groups</span>
      <% end %>
    </li>
    <li>
      <a href="#">
        <span class="icon-stack">
          <i class="icon-sign-blank icon-stack-base"></i>
          <i class="icon-bar-chart icon-light icon-child"></i>
        </span>
        <span class="mg-navigation-text">&nbsp; Reports</span>
      </a>
    </li>
  </ul>
</div>