<div id="mg-left-pane" class="col-sm-2">
  <%= render :partial => "common/left_side_bar" %>
</div>
<div id="mg-center-pane" class="col-sm-7">
  <h2>Main Pane</h2>
</div>
<div id="mg-right-pane" class="col-sm-3">
  <h2>Right Side Pane</h2>
</div>