<ul class="nav navbar-nav">
  <li class="dropdown">
    <a id="mg-recent-activity" href="#" class="dropdown-toggle" data-toggle="dropdown">
      <button type="button" class="btn btn-info btn-xs"><i class="icon-globe"></i> &nbsp; Activity</button>
    </a>
    <ul class="dropdown-menu panel panel-info panel-sm" id="mg-recent-activity-dropdown">
      <div class="panel-heading">Recent Activity</div>
      <div class="panel-body">
        <%= render :partial => "common/recent_activity" %>
      </div>
      <div class="panel-footer"><button type="button" class="btn btn-info btn-xs">View All Activity</button></div>
    </ul>
  </li>
  <li>
    <a id="mg-add-transaction" href="#">
      <button type="button" class="btn btn-danger btn-xs"><i class="icon-plus-sign"></i> &nbsp; Add Expense</button>
    </a>
  </li>
  <li>
    <a id="mg-settle-transaction" href="#">
      <button type="button" class="btn btn-success btn-xs"><i class="icon-flag-checkered"></i> &nbsp; Settle Expense</button>
    </a>
  </li>
</ul>
<ul class="nav navbar-nav navbar-right pull-right">
  <li>
    <a href="#">
      <%= render_user_image(current_user, 
                            :size => 24, 
                            :class_name => "pull-right img-circle", 
                            :user_name_class => "pull-right mg-user-name") %>
    </a>
  </li>
</ul>