<div id="mg-left-pane" class="col-sm-3">
  <%= render :partial => "common/left_side_bar" %>
</div>
<div id="mg-center-pane" class="col-sm-6">
  <%= render :partial => "common/main_pane" %>
</div>
<div id="mg-right-pane" class="col-sm-3">
  <h2>Right Side Pane</h2>
</div>