<!--Body content-->
<div class="col-sm-12">
  <div class="jumbotron">
    <% if @user.present? %>
      <%= yield %>
    <% else %>
      <h1>Managing expenses made easy</h1>
      <%= render :partial => "common/user_testimonials" %>
      <a data-toggle="modal" href="/users/new" data-target="#modal" class="btn btn-danger" data-placement="bottom" data-toggle="tooltip" data-original-title="Via Email"> Sign Up
      </a>
      <a class="btn" href="/auth/facebook" data-placement="bottom" data-toggle="tooltip" data-original-title="Facebook">
        <i class="icon-facebook-sign icon-dark icon-3x"></i>
      </a>
      <a class="btn" href= "/auth/google_oauth2" data-placement="bottom" data-toggle="tooltip" data-original-title="Google">
        <i class="icon-google-plus-sign icon-3x"></i>
      </a>
    <% end %> 
  </div>
</div>

<div id="mg-four-col-feature">
    <% STATIC_TEXT::FOUR_COLUMN_FEATURE_HOMEPAGE.each do |feature_item| %>
      <%= render :partial => "common/feature_4_column_static", :locals => feature_item %>
    <% end %>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden=  "true">
</div>
<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden  ="true">
  <%= render :partial => "common/signin_form" %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('a').tooltip();
  });
</script>