<ul class="nav navbar-nav">
  <li class="dropdown">
    <a id="mg-sign-in" href="#" data-toggle="modal" data-target="#modal2" >
       <button type="button" class="btn btn-primary btn-xs"><i class="icon-signin icon"></i> &nbsp; Sign-in</button>
    </a>

  </li>
</ul>


