<ul class="nav navbar-nav">
  <li class="dropdown">
    <a id="mg-sign-in" href="#" class="dropdown-toggle" data-toggle="dropdown">
       <button type="button" class="btn btn-primary btn-xs"><i class="icon-signin icon"></i> &nbsp; Sign-in <b class="caret"></b></button>
    </a>
    <ul class="dropdown-menu panel panel-default panel-sm">
      <div class="panel-body">
        <%= render :partial => "common/signin_form" %>
      </div>
    </ul>
  </li>
</ul>
