<%= form_tag({:controller => "sessions", :action => "create", :method => :post, }, {:id => "mg-sign-in-form", :class => "form-horizontal"}) do %>
  <fieldset>
    <div class="form-group">
      <div class="col-sm-12">
        <div class="input-group input-group-sm">
          <span class="input-group-addon"><i class="icon-envelope"></i></span>
          <%= text_field_tag :inputEmail, "", :placeholder => "Email", :class => "form-control input-sm" %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <div class="input-group input-group-sm">
          <span class="input-group-addon"><i class="icon-key"></i></span>
          <%= password_field_tag :inputPassword, "", :placeholder => "Password", :class => "form-control input-sm" %>
        </div>
      </div>
    </div>
    <div class="form-group action-group">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary btn-sm pull-left">Sign-in</button>
        <span class="pull-left col-sm-8"> <%= link_to("javascript:void", :id => "mg-forgot-password-link", :class => "text-primary"){ raw("Forgot Password ") + content_tag(:i, "", :class=>"icon-question-sign")} %> </span>
      </div>
    </div>
  </fieldset>
<% end %>