<h3>User Testimonials</h3>
<ul class="nav nav-list">
  <li class="nav-header">
    Asif, Hyderabad
  </li>
  <li><%= image_tag("icons/quote24x24.png", :class => "dev-image") %><blockquote style="display: inline;"><i>This application is everything it claims to be ! Simple, Intuitive and Easy to use. Definetly the place to magically manage my accounts. Thumbs up</i></blockquote></li>
</ul>
<ul class="nav nav-list">
  <li class="nav-header">
    Ranush, Chennai
  </li>
  <li><%= image_tag("icons/quote24x24.png", :class => "dev-image") %><blockquote style="display: inline;"><i>Thanks for the tool. App looks cool ! Exactly what i need </i></blockquote></li>
</ul>
<ul class="nav nav-list">
  <li class="nav-header">
    Sabarish, Madurai
  </li>
  <li><%= image_tag("icons/quote24x24.png", :class => "dev-image") %><blockquote style="display: inline;"><i>Great App !!! Keep us posted with the enhancements </i></blockquote></li>
</ul>